.like {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #363636;
    padding: .5rem;
    margin: 1rem 0;
}

.home .like {
    border: none;
}

.like svg {
    font-size: 1.2rem;
    cursor: pointer;
}

.like p {
    margin-left: 1rem;
}