.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #363636;
  padding: .5rem 1rem;
}

.nav-form {
  position: relative;
  width: 25%;
}

.nav-form svg {
position: absolute;
top: 10px;
left: 9px;
}

.nav-form input {
padding-left: 2.5rem;
border-radius: 5px;
width: 100%;
margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.nav-links svg{
  font-size: 1.4rem;
}