.home {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

@media (min-width: 550px) {
    .home {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .home {
        width: 500px;
    }
}

.home .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: .5rem 0 2rem 0
}

.no-photos {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.no-photos a {
    color: #0094f6;
}