* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #121212;
  color: #fafafa;
}

.container {
  min-height: calc(100vh - 115px);
}

@media (min-width: 768px) {
  .container {
    min-height: calc(100vh - 130px);
  }

}

a {
  color: #fafafa;
  text-decoration: none;
}

.active {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #AAA;
  font-size: 0.7rem;
}

input {
  background-color: #3b3b3b;
  color: #AAA;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6rem;
}

input::placeholder {
  color: #AAA;
}

.btn,
button,
input[type='submit'] {
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: 700;
  cursor: pointer;
  opacity: .8;
  font-size: 1rem;
}

.btn:hover,
button:hover,
input[type='submit']:hover {
  opacity: 1;
}

input[type='submit'] {
  margin-top: 1rem;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}