.photo-container {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

@media (min-width: 768px) {
    .photo-container {
        width: 50%;
    }
}

.photo-container h2 {
    margin: 1rem 0;
}

.msg-container {
    margin: 1rem 0;
}

.comments {
    text-align: left;
}

.comments form {
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #363636;
}

.author {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.photo-container .author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.comment-text {
    margin: 1rem;
}